amqp
asgiref
backports
beautifulsoup4
billiard
black
blinker
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coverage
crispy-bootstrap5
Django
django-celery-results
django-crispy-forms
django-environ
django-extensions
EasyProcess
entrypoint2
et-xmlfile
flask
idna
importlib-metadata
itsdangerous
jeepney
Jinja2
keyboard
kombu
MarkupSafe
MouseInfo
mss
mypy-extensions
openpyxl
packaging
pathspec
Pillow
platformdirs
prompt-toolkit
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
python3-xlib
pytweening
pywhatkit
requests
six
soupsieve
sqlparse
tomli
typing-extensions
tzdata
urllib3
vine
wcwidth
werkzeug
wikipedia
zipp
