{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all-products">All Products</a>
          </li>
      <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#add-product">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#category">Category</a>
      </li>
     
    </ul>

    <div class="tab-content mt-2">
        <div id="all-products" class="tab-pane fade show active">
            
            {% include "../components/datatable_products_list.html" %}
          </div>

        <div id="add-product" class="tab-pane fade">
            <h3>Add Product Section</h3>
            <div id="transaction-message"></div>
            
            {% include "../components/add_product.html" %}
        </div>

        <div id="category" class="tab-pane fade">
            <h3>Category Section</h3>
            <!-- Add your category content here -->
        </div>
    </div>
  </div>
    
{% endblock content %}

{% block scripts %}
<script>
  console.log("From product list view template")
  $(document).ready( function () {
      $('#myTable').DataTable();
    } );
  let table = new DataTable('#myTable');

  const name = document.getElementById("id_name")
  const category = document.getElementById("id_category")
  const price = document.getElementById("id_price")
  const quantity = document.getElementById("id_quantity")
  const reorder_level = document.getElementById("id_reorder_level")
  const form = document.getElementById("product-add-form")
  let csrf = document.getElementsByName("csrfmiddlewaretoken")
  csrf = csrf[0].value
  let box = document.getElementById("transaction-message")


  let url = "{% url 'products:add-product' %}"
  form.addEventListener("submit", function(e) {
    e.preventDefault()
    sendProductCreateData(url, name, category, price, quantity, reorder_level, csrf)
  })
  
  function sendProductCreateData(url, name, category, price, quantity, reorder_level, csrf) {
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrf,
      },
      body: JSON.stringify({
        name: name.value,
        category: category.value,
        price: price.value,
        quantity: quantity.value,
        reorder_level: reorder_level.value,
      }),
    })
      .then(response => response.json())
      .then(data => {
        // Handle the response from Django here
        if (data.message === "success"){
          showTransactionMessage("success", data)
        } else {
          showTransactionMessage("warning", data)
        }
        console.log(data);
      })
      .catch(error => {
        // Handle any errors that occurred during the fetch request
        console.error('Error:', error);
      });
  
  }
  
  // Function to show transaction messate
  function showTransactionMessage(type, data){
    if (type === "warning" ) {
      console.error(data.message)
      var alertElement = document.getElementById('transaction-message');
      alertElement.classList.remove('hide');
      let msg = `<div id="myAlert" class="alert alert-${type} fade show" role="alert">
        Error: ${data.message}
      </div>`
      let alertBox = document.getElementById("transaction-message")
      alertBox.innerHTML = msg
       // Get the alert element

      // Automatically hide the alert after 3 seconds (3000 milliseconds)
      setTimeout(function() {
        // Add the 'hide' class to the alert element
        alertElement.classList.add('hide');
      }, 3000);
    }
    else if(type === "success") {
      var alertElement = document.getElementById('transaction-message');
      alertElement.classList.remove('hide');
      let msg = `<div id="myAlert" class="alert alert-${type} fade show" role="alert">
        SUCCESS: ${data.name} added to ${data.category}.
      </div>`
      let alertBox = document.getElementById("transaction-message")
      alertBox.innerHTML = msg
       // Get the alert element

      // Automatically hide the alert after 3 seconds (3000 milliseconds)
      setTimeout(function() {
        // Add the 'hide' class to the alert element
        alertElement.classList.add('hide');
      }, 3000);

    }
  }

  

 

  
  // perform ajax request with the data 
</script>
{% endblock scripts %}