{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Sales Overview</h1>
    {{sales_data}}
    <div class="bt-5">
        <canvas id="myChart"></canvas>
      </div>
</div>


{% endblock content %}



{% block scripts %}
<script src="{% static 'bootstrap/js/chatjs.js' %}"></script>
<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
{% endblock scripts %}
