{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="dash-components">
    <div class="row">
      <div class="col-md-4">
        {% include "../components/dashboard_components/products.html" %}
      </div>
      <div class="col-md-4">
        {% include "../components/dashboard_components/sales.html" %}
      </div>
      <div class="col-md-4">
        {% include "../components/dashboard_components/customers.html" %}
      </div>
    </div>
  </div>
    <h1>Sales Overview</h1>
    <div class="bt-5">
        <canvas id="myChart"></canvas>
      </div>

      <hr>

      
</div>


{% endblock content %}



{% block scripts %}
<script src="{% static 'bootstrap/js/chatjs.js' %}"></script>
<script>
    
    
    const drawChart = (values, labels, chartType) => {
      const ctx = document.getElementById('myChart');
      new Chart(ctx, {
        type: chartType,
        data: {
          labels: [ {% for month in labels %} "{{ month }}", {%endfor%}],
          datasets: [{
            label: 'Volume of sales',
            data: values,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }    

    
    url = "{% url 'home' %}"
    const getChartData = (url) => {
      
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          chartType: "pie"
        }),
      })
      .then(response => response.json())
      .then(data => {
        console.log(data)
        var values = data.values
        var labels = []
        labels = data.labels
        chartType = data.chartType
        drawChart(values, labels, chartType)
    })

  }

  getChartData(url)
  </script>
{% endblock scripts %}
