{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all-sales">All Sales</a>
          </li>
      <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#add-sale">Add Sale</a>
      </li>
     
    </ul>

    <div class="tab-content mt-2">
        <div id="all-sales" class="tab-pane fade show active">
            <h3>Sales list </h3>
            {% include "../components/datatable_sales_list.html" %}
          </div>

        <div id="add-sale" class="tab-pane fade">
            <h3>Add Sale Section</h3>            
            {% include "../components/add_sale.html" %}
        </div>
    </div>
  </div>
    
{% endblock content %}

{% block scripts %}
<script>
  console.log("From product list view template")
  $(document).ready( function () {
      $('#myTable').DataTable();
    } );
  let table = new DataTable('#myTable');
  let table2 = new DataTable('#categoryTable');

    // Get the form elements 
  const product = document.getElementById("id_product"),
  quantity = document.getElementById("id_quantity"),
  price = document.getElementById("id_unit_price"),
  tPrice = document.getElementById("id_total_price"),
  saleAlertBoxElem = document.getElementById("saleAlertBox")
  dateCreated = document.getElementById("id_created")
  const saleForm = document.getElementById("saleForm")
  console.log(saleForm)
  let csrf = document.getElementsByName("csrfmiddlewaretoken")
  csrf = csrf[0].value
  let saleId = "";


  let url = "{% url 'sales:add-sale' %}"
  saleForm.addEventListener("submit", function(e) {
    sendSaleItemCreateData(url, product, quantity, price, tPrice, dateCreated, csrf, "saleAlertBox")
    e.preventDefault()
  })
  
  function sendSaleItemCreateData(url, product, quantity, price, tPrice, date, csrf, saleAlertBoxElem) {
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrf,
      },
      body: JSON.stringify({
        product: product.value,
        quantity: quantity.value,
        price: price.value,
        tPrice: tPrice.value,
        date: date.value,
        saleID: saleId
      }),
    })
      .then(response => response.json())
      .then(data => {
        // Handle the response from Django here
        if (data.status === "success"){
          showTransactionMessage("success", data, saleAlertBoxElem)
          // clearInputFields(product, quantity, price, tPrice, dateCreated) 
          saleId = data.saleID;
        } else {
          showTransactionMessage("warning", data, saleAlertBoxElem)
        }
        console.log(data);
      })
      .catch(error => {
        // Handle any errors that occurred during the fetch request
        console.error('Error:', error);
      });
  
  }
  
  // Function to show transaction messate
  function showTransactionMessage(type, data, parentElement){
    if (type === "warning" ) {
      console.error(data.message)
      showAlert(type, data, parentElement)
    }
    else if(type === "success") {
      showAlert(type, data, parentElement)

    }
  }

  // Function to clear input fields
  function clearInputFields(product, quantity, price, tPrice, date) {
    product.value = ""
    quantity.value = ""
    price.value = ""
    tPrice.value = ""
    date.value = ""
  }


  function showAlert(type, data, parentElement) {
    var alertElement = document.getElementById('saleAlertBox');
      alertElement.classList.remove('hide');
      let msg = `<div id="myAlert" class="alert alert-${type} fade show" role="alert">
        ${data.message}
      </div>`
      let alertBox = document.getElementById(`${parentElement}`)
      alertBox.innerHTML = msg
       // Get the alert element

      // Automatically hide the alert after 3 seconds (3000 milliseconds)
      setTimeout(function() {
        // Add the 'hide' class to the alert element
        alertElement.classList.add('hide');
      }, 3000);
  }
  
  
</script>
{% endblock scripts %}