<div class="container" id="saleAlertBox"></div>

<form id="saleForm" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-4">
          <div class="form-group">
            <label for="product">Product</label>
            {{sale_form.product}}
          </div>
        </div>
       
      </div>
  
      <div class="row">
        <div class="col-md-6 mt-4">
          <div class="form-group">
            <label for="quantity">quantity</label>
            {{sale_form.quantity}}
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="form-group">
            <label for="unit_price">Unit Price</label>
            {{sale_form.unit_price}}
          </div>
        </div>
        
      </div>
  
      <div class="row">
        <div class="col-md-6 mt-4">
          <div class="form-group">
            <label for="total_price">Total Price</label>
            {{sale_form.total_price}}
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="form-group">
            <label for="created">Date</label>
            {{sale_form.created}}
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="mt-4 btn btn-primary form-control btn-block">Add Sale Item</button>
        </div>
      </div>
    </div>
  </form> 


  <div class="container">
    <h2>Product List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Product A</td>
          <td>10</td>
          <td>$10</td>
          <td>$100</td>
          <td><button class="btn btn-primary">Edit</button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Product B</td>
          <td>5</td>
          <td>$20</td>
          <td>$100</td>
          <td><button class="btn btn-primary">Edit</button></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Product C</td>
          <td>8</td>
          <td>$15</td>
          <td>$120</td>
          <td><button class="btn btn-primary">Edit</button></td>
        </tr>    </tbody>
    </table>
  </div>