<table id="myTable" class="display">
    <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>T. Price</th>
            <th>Date</th>
            <th>TrasactionID</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in saleItems %}
        <tr>
            <td >{{forloop.counter}}</td>
            <td>{{sale.product.name}}</td>
            <td>{{sale.quantity}}</td>
            <td>{{sale.unit_price}}</td>
            <td>{{sale.total_price}}</td>
            <td>{{sale.product.created}}</td>
            <td>{{sale.sale.transaction_id}}</td>
            <td style="text-align: right">
                <div class="dropdown">
                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li id="" class="dropdown-item"><a class="btn btn-sm btn-secondary" href="{% url 'sales:sale-detail' sale.id %}">Sale Detail</a></li>
                        <li id="" class="dropdown-item"><a class="btn btn-sm btn-danger" href="{% url 'sales:sale-delete' sale.id %}">Delete Sale</a></li>
                        <li id="" class="dropdown-item"><a class="btn btn-sm btn-warning" href="{% url 'sales:sale-edit' sale.id %}">Edit Sale</a></li>
                    </ul>
                </div>
            </td>
            {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>TrasactionID</th>
            <th>Action</th>
        </tr>
    </tfoot>
</table>