<aside class="left-sidebar bg-dark text-white">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="./index.html" class="text-nowrap logo-img">
          {% comment %} <img src="{% static 'assets/images/logos/dark-logo.svg' %}" width="180" alt="" /> {% endcomment %}
          {% if site_settings.company_name %}
          <h1 class="text-white">{{site_settings.company_name}}</h1>                 
          {% else %}
          <h1 class="text-white">SOLIX INVENT</h1>                 
          {% endif %}
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu text-white">Home</span>
          </li>
          <li class="sidebar-item ">
            <a class="text-white sidebar-link" href="{% url 'home' %}" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>

          <li class="sidebar-item ">
            <a class="text-white sidebar-link" href="{% url 'products:list'  %}" aria-expanded="false">
              <span>
                <i class="ti ti-package"></i>
              </span>
              <span class="hide-menu">Products</span>
            </a>
          </li>
          <li class="sidebar-item ">
            <a class="text-white sidebar-link" href="{% url 'sales:list' %}" aria-expanded="false">
              <span>
                <i class="ti ti-crown"></i>
              </span>
              <span class="hide-menu">Sales</span>
            </a>
          </li>

          

          <li class="sidebar-item ">
            <a class="text-white sidebar-link" href="{% url 'customers:list' %}" aria-expanded="false">
              <span>
                <i class="ti ti-crown"></i>
              </span>
              <span class="hide-menu">Customers</span>
            </a>
          </li>
          
          

          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu text-white">BACKUPS & RESTORE</span>
          </li>
          <li class="sidebar-item ">
            <a class="text-white sidebar-link" href="{% url 'commons:export_data' %}" aria-expanded="false">
              <span>
                <i class="ti ti-crown"></i>
              </span>
              <span class="hide-menu">Export Data</span>
            </a>
          </li>

          <li class="sidebar-item ">
            <a class="text-white sidebar-link" href="{% url 'commons:import_data' %}" aria-expanded="false">
              <span>
                <i class="ti ti-crown"></i>
              </span>
              <span class="hide-menu">Import Data</span>
            </a>
          </li>

          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu text-white">MANGEMENT</span>
          </li>
          <li class="sidebar-item ">
            <a class="text-white sidebar-link" href="{% url 'settings:settings' %}" aria-expanded="false">
              <span>
                <i class="ti ti-settings"></i>
              </span>
              <span class="hide-menu">Settings</span>
            </a>
          </li>

          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu text-white">AUTH</span>
          </li>
          <li class="sidebar-item ">
            <a class="text-white sidebar-link" href="{% url 'accounts:list' %}" aria-expanded="false">
              <span>
                <i class="ti ti-user"></i>
              </span>
              <span class="hide-menu">Users</span>
            </a>
          </li>

          <li class="sidebar-item ">
            <a class="text-white sidebar-link" href="{% url 'accounts:add_user' %}" aria-expanded="false">
              <span>
                <i class="ti ti-user-plus"></i>
              </span>
              <span class="hide-menu">Create User</span>
            </a>
          </li>

          <li class="sidebar-item ">
            <a class="text-white sidebar-link" href="{% url 'accounts:logout' %}" aria-expanded="false">
              <span>
                <i class="ti ti-user"></i>
              </span>
              <span class="hide-menu">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>